.table-cart{
    border: 1px solid #ebebeb;
    border-top: none;
  }
  
  .cart-section {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-bottom: 16px;
    padding: 20px;
    background-color: #fcfdfe;
  }
  
  .flexbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  .fs-9 {
    font-size: 9px !important;
  }
  
  .cart-price .flexbox p {
    margin-bottom: 4px;
  }
  
  dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-top: 0;
  }
  
  .table-cart img {
    max-height: 80px;
  }
  
  img {
    max-width: 100%;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  .table-cart .item-remove {
    color: #b5b9bf;
    text-decoration: none;
  }
  
  .ti-close:before {
    /* content: "\&times;"; */
    content: "\00d7";
    font-size: 1.5em;
  }
  
  [class*=" ti-"], [class^=ti-] {
    /* font-family: themify; */
    font-family: "Nunito", sans-serif;
    /* speak: none; */
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .table-cart tr td:first-child {
    padding-left: 30px;
  }
  
  .table-cart td {
    vertical-align: middle;
    border-top-color: #ebebeb;
    padding-left: 12px;
    padding-right: 12px;
  }
  .table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #eceeef;
  }

  .shop-item {
    display: block;
    overflow: hidden;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 16px 20px;
    background-color: #fcfdfe;
    color: #535353;
}

.shop-item .item-details {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.shop-item .item-details h5 {
    font-size: 16px;
    margin-bottom: 0;
}

/* @media (max-width: 1199px){
.h5, h5 {
    font-size: 1.125rem;
} */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Dosis","Open Sans",sans-serif;
    font-weight: 600;
    color: #37404d;
    letter-spacing: 1px;
    line-height: 1.6;
}

.shop-item .item-details .item-price {
    font-family: "Dosis","Open Sans",sans-serif;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 1px;
    padding-left: 16px;
    white-space: nowrap;
}


.shop-item img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    /* max-height: 18.9375em;
    min-height: 18.9375em; */
}

.shop-item .item-details .item-price .unit {
    font-size: 12px;
    vertical-align: text-top;
}

a {
    color: #0facf3;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.row.gap-y > [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

button.add-to-cart {
    /* position: absolute;
    right: 20px;
    top: 363px; */
    width: 100%;
    margin-top: 1em;
}
